body {
  font-family: 'Nunito', sans-serif;
  /*Full width and height background image*/
  background: url('../images/hero.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 80px;
}

.navbar-collapse{
  margin: 0;
  padding: 0; 
}

.navbar-brand {
  padding: 3px 9px;
}

.navbar-brand img {
  width: 41px;
  height: 37px;
  border-radius: 50%;
  margin: 2px 2px;
}

.navbar-brand img:hover {
  border: none;
}

.section-spacing {
  margin-bottom: 5%;
  margin-top: 2%;
}

.jumbotron {
  margin-top: 20%;
  background-color: transparent;
  height: 100vh;
}

.jumbotron h1 {
  color: #d90000;
  font-size: 6em;
  text-align: center;
  font-weight: bold;
}

.jumbotron p {
  color: #d90000;
  font-size: 4em;
  text-align: center;
}

.logo-holder {
  height: 200px;
  width: 200px;
  background: url('../images/gate-01.svg');
  border-radius: 50%;
}

.bright-font {
  color: #fff;
}

.dark-font {
  color: #000;
}

.about-gradient {
  background-color: #000;
}

.row.small-spacer {
  margin-bottom: 20px;
}

.no-bg-color {
  background-color: transparent;
  color: black;
}

.dark-heading {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  font-size: 23px;
  margin-top: 50px;
}

.light-heading {
  color: #fff;
  font-size: 20px;
}

/*--------------------------------------------------------------------Timeline*/

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  color: #fafafa;
  border-left: 1px solid;
}

.timeline-item p {
  padding: 0;
  margin: 0;
}

.timeline-item::before {
  content: attr(dates);
  position: absolute;
  left: 2.5em;
  top: 3em;
  display: block;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  font-size: .8em;
  padding: 0;
  margin: 0;
}

.timeline-item::after {
  width: 12px;
  height: 12px;
  display: block;
  top: 2.4em;
  position: absolute;
  left: -6px;
  border-radius: 12px;
  content: '';
  background: #fafafa;
}

/*----------------------------------------------------------------------Images*/

.img-fluid {
  max-width: 100%;
  height: auto;
}

img:hover {
  border: 12px solid #370000;
}

iframe {
  border: none;
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
}

/*-------------------------------------------------------------Classes Section*/

#classes {
  /*linear-gradient renders as image to give an overlay*/
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
              url(../images/belt.jpg);
  background-size: cover;
  height: 100vh;
}


#callout {
  height: 50vh;
}

.graffiti-img {
  padding: 50px 0px 100px 0px;
  /*linear-gradient renders as image to give an overlay*/
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
              url(../images/graffiti.png);
  background-size: cover;
  text-align: center;
  margin-top: 15vh;
  height: 36vh;
}

.quote {
  color: #fff;
  font-weight: bold;
}

.class-heading {
  font-size: 21px;
  color: #d90000;
  font-weight: 800;
}

.social-icons>i {
  font-size: 60px;
  color: #fff;
  margin-right: 5%;
}

.social-icons {
  font-size: 30px;
  color: #fff;
}

.social-icons:hover,
.social-icons>i:hover {
  color: #d90000;
  text-decoration: none;
}

.col-lg-12 {
  padding: 0;
}
/*------------------------------------------------------------------------Form*/
.btn-success {
  color: #fff;
  font-size: 14px;
  background-color: #d90000;
  border-color: #fff;
  width: 90px;
}

.btn-success:hover {
  color: #d90000;
  background-color: #fff;
  border-color: #fff;
}

/*-----------------------------------------------------------------About Icons*/
.large-icon {
  font-size: 60px;
  text-align: center;
  color: #d90000;
}

.red-circle {
  border: 3px solid #d90000;
  border-radius: 50%;
  padding: 10px 20px 10px 20px;
}

/*----------------------------------------------------------------------Footer*/

.footer-wrapper {
  padding-top: 30px;
}
.footer-heading {
  font-size: 14px;
}

.footer-icons {
  font-size: 30px;
  color: #fff;
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.footer-icons:hover {
  color: #d90000;
}

/*----------------------------------------------------------------------Navbar*/
.navbar {
  background-color: #000;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #d90000;
}

.navbar-default .navbar-brand {
  color: #FFF;
  font-weight: 800;
}

/*------------------------------------------------------------------Animations*/
.jumbotron{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

