body {
  font-family: 'Nunito', sans-serif;
  /*Full width and height background image*/
  background: url('../images/Logo_HCS_noText.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-spacing {
  margin-bottom: 5%;
  margin-top: 2%;
}

.jumbotron {
  margin-top: 28%;
  background-color: transparent;
}

.jumbotron h1 {
  color: #cc3333;
  font-size: 6em;
  text-shadow: -3px 4px 2px rgba(197, 181, 135, 0.49);
}

.jumbotron p {
  color: #cc3333;
  font-size: 4em;
  margin-left: 140px;
}

.bright-font {
  color: white;
}

.about-gradient {
  background: rgb(55, 0, 0);
  background: linear-gradient(90deg, rgba(55, 0, 0, 0.9699230033810399) 0%, 
              rgba(134, 9, 0, 1) 45%, rgba(106, 10, 0, 0.7234244039412641) 100%);
}

.row.small-spacer {
  margin-bottom: 20px;
}

.no-bg-color {
  background-color: transparent;
  color: black;
}

img {
  height: 475px;
  margin: 10px;
}

.small-image-box {
  width: 33%;
  margin-bottom: 5px;
}

/*---------------------------------------------------------------Class Section*/
.class-heading {
  font-size: 20px;
  color: #ffd800;
  font-weight: 700;
}

/*-----------------------------------------------------------------About Icons*/
.large-icon {
  font-size: 80px;
  text-align: center;
  color: #ffd800;
}

/*----------------------------------------------------------------------Navbar*/
.navbar {
  background: rgb(55, 0, 0);
  background: linear-gradient(90deg, rgba(55, 0, 0, 0.9699230033810399) 0%, 
              rgba(134, 9, 0, 1) 45%, rgba(106, 10, 0, 0.7234244039412641) 100%);
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ffd800;
}

.navbar-default .navbar-brand {
  color: #FFF;
  font-weight: 800;
}

/*------------------------------------------------------------------Animations*/
.jumbotron{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}